body {
    width: 360px;
    height: 640px;
    border: 3px solid;
    margin: 0px;
    background-color: #FFFDD0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a {
    color: black;
    text-decoration: none;
}
a:visited {
    color: black;
}
/* index.html */
.title {
    position: absolute;
    width: 302px;
    height: 80px;
    left: 29px;
    top: 67px;

    background: #FFD800;
    border-radius: 10px;
}
.title h1 {
    font-size: 26px;
    text-align: center;
    margin-top: 9px;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 5px 10px;
    font-size: 15px;
    text-align: center;
}
.song {
    position: absolute;
    width: 235px;
    height: 45px;
    top: 270px;
    left: 65px;
    background: #F8DE7E;
    border-radius: 10px;
}
.song h2 {
    margin-top: 8px;
}
.mem {
    position: absolute;
    width: 235px;
    height: 45px;
    top: 360px;
    left: 65px;
    background: #F8DE7E;
    border-radius: 10px;
}

.mem h2 {
    margin-top: 8px;
}

.quiz {
    position: absolute;
    width: 70px;
    height: 45px;
    top: 450px;
    left: 140px;
    background: #F8DE7E;
    border-radius: 10px;
}

.quiz h2 {
    margin-top: 7px;
}

.footer {
    position: absolute;
    width: 360px;
    height: 64px;
    left: 3px;
    top: 579px;

    background: #C8C8C8;
}

.footer img{
    width: 40px;
    padding: 10px;
}
.icon1 {
    margin-left: 30px;
    height: 33px;
    margin-bottom: 2px;
}
.icon2 {
    margin-left: 50px;
}
.icon3 {
    margin-left: 50px;
}

/* subpages */
.header {
    position: absolute;
    width: 302px;
    height: 80px;
    left: 29px;
    top: 67px;
    background: #FFD800;
    border-radius: 10px;
}
.header h1 {
    font-size: 26px;
    text-align: center;
    padding-top: 8px;
}

/* quiz */
.board {
    position: absolute;
    width: 301px;
    height: 168px;
    left: 30px;
    top: 181px;

    background: #FFFFFF;
    mix-blend-mode: normal;
    text-align: center;
}

.num {
    width: 301px;
    height: 168px;
    text-align: center;
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.answer {
    position: absolute;
    width: 247px;
    height: 35px;
    left: 30px;
    top: 400px;
}

.quizanswer {
    width: 247px;
    margin-top: -10px;
    font-size:20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button {
    position: absolute;
    width: 86px;
    height: 45px;
    left: 30px;
    top: 500px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.options {
    position: absolute;
    width: 184px;
    height: 45px;
    left: 80px;
    top: 400px;
    text-align: center;
}

.options h3 {
    background: #F8DE7E;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* song.html */
.vid {
    margin-top:190px;
}

.vid iframe{
    width: 360px;
    height: 196px;
}

.hmenu {
    position: absolute;
    width: 120px;
    height: 50px;
    left: 115px;
    top: 470px;
    text-align: center;
    background: #F8DE7E;
    border-radius: 10px;
}
.hmenu h3 {
    font-size: 25px;
    margin-top: 10px;
}

/*mem.html*/
.askboard {
    position: absolute;
    width: 302px;
    height: 176px;
    left: 29px;
    top: 185px;
    text-align: center;
    background: #FFFFFF;
}

.askboard h2 {
    margin-top: 35px;
}

.choose {
    position: absolute;
    width: 247px;
    height: 35px;
    left: 30px;
    top: 410px;
    font-size: 13px;
}

.tableno {
    position: absolute;
    width: 250px;
    height: 30px;
    left: 55px;
    top: 160px;
    text-align: center;
    background: #FFFFFF;
    border: 0px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.innerbox input {
    position: absolute;
    width: 250px;
    height: 28px;
    left: 55px;
    top: 210px;
    text-align: center;
    border: 0px;
    font-size: 20px;
}
.table2 {
    margin-top: 30px;
}
.table3 {
    margin-top: 60px;
}
.table4 {
    margin-top: 90px;
}
.table5 {
    margin-top: 120px;
}
.table6 {
    margin-top: 150px;
}
.table7 {
    margin-top: 180px;
}
.table8 {
    margin-top: 210px;
}
.table9 {
    margin-top: 240px;
}

.again {
    position: absolute;
    width: 130px;
    height: 45px;
    left: 110px;
    top: 470px;
    text-align: center;
}

.again h3 {
    background: #F8DE7E;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}